body{background: linear-gradient(rgb(0, 0, 0) 8%, transparent 15%), url(./media/sfondo-griglia-nera.jpg);}
.logo{width: 100%;height: 100%;}
.col-cst{height: 12vh;}
.nav1-cst{background-color: black; position: fixed; z-index: 1000;}
a{color: inherit; text-decoration: none;}
.btn-nav{background-color: rgb(255, 166, 0);border: none;border-radius: 20px;}
.dropdown-menu{background-color: rgba(0, 0, 0, 0.623);}
.btn-cst{border: none;border-radius: 20px;background-color: rgb(255, 166, 0);}
.hero{background: linear-gradient(transparent, rgb(0, 0, 0) 90%) , url(./media/sfondio-nero.jpg); background-repeat: no-repeat;
background-size: cover; letter-spacing: 15px;
}
.sidebar{background-color: rgba(0, 0, 0, 0); transition: 0.4s; width: 20px; white-space: nowrap; overflow: hidden;}
.sidebar:hover{width: 140px;}
.generi{letter-spacing: 10px;color: rgb(255, 166, 0);}


.col-cst-art{background-color: rgba(0, 0, 0, 0.705);border-radius: 30px;}
.orari{border: 2px solid white;border-radius: 20px;}
.img-art{border-radius: 20px; transition: 0.8s;}
.img-art:hover{transform: scale(1.01);}
.crediti, .prog{color: rgb(255, 166, 0); font-weight: 700;}
#lcn{background-color: rgba(0, 0, 0, 0.644); border-radius: 30px; display: none !important;}
#lcn:target{display: flex !important;}
.btn-cst{background-color: rgb(255, 166, 0); border: none; border-radius: 20px;}
.pos-cst{background-color: rgba(0, 0, 0, 0.623);border-radius: 30px;}
.posizione{border-radius: 50px;}
.modal-cst{background-color: rgba(0, 0, 0, 0.678);}
.icon-list{background-color: inherit;border: none;}
.bott-bar1{border-right: 2px solid white;border-left: 2px solid white;}
.bott-bar3{border-right: 2px solid white;border-left: 2px solid white;}
.bar-bott{background-color: rgba(0, 0, 0, 0.651);display: none;}
.ft{border-top: 2px solid white; background-color: rgba(0, 0, 0, 0.664);}
.ft-p{color: rgb(255, 255, 255); font-weight: 600;}

@media screen and (max-width: 1300px) { .nav1-cst{position: relative;}
.hero{letter-spacing: 7px;} 
.sidebar{display: none !important;}
.bar-bott{display: flex;}
    
}
